doctype html
html(lang="en")
  head
    title #{pageTitle} | Webute
    link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
  body
    header
      h1=pageTitle
      nav
        ul
          li
            a(href="/videos/upload") upload video
    main
      block body
  include ../partials/footer.pug
