extends layouts/base.pug
include mixins/video.pug

block scripts
  script(defer src="/js/views/masonry.js")

block content
  div.video-grid
    each info in videos
      +video(info)
    else
      li nothing found
  
