extends layouts/base.pug

block body
  if errorMessage
    h2=errorMessage
  form(method="POST")
    input(name="email" type="email" required placeholder="email")
    input(name="username" type="text" required placeholder="username")
    input(name="password" type="password" required placeholder="password")
    input(name="passwordConfirm" type="password" required placeholder="password cofirm")
    input(name="name" type="text" required placeholder="name")
    input(name="location" type="text" placeholder="location")
    input(type="submit" value="Join")
