extends layouts/base.pug

block body
  if errorMessage
    h2=errorMessage
  form(method="POST")
    input(name="username" type="text" required placeholder="username")
    input(name="password" type="password" required placeholder="password")
    input(type="submit" value="Login!")
  div
    span Don't have an account?
    a(href="/join") Join now &rarr;
