extends layouts/base.pug
include mixins/video.pug

block scripts
  script(defer src="/js/views/masonry.js")

block content
  form.search-form
    input(placeholder="search by title" type="text" name="s")
    button
      i(class="bx bx-search")

  div.video-grid
    each video in videos
      +video(video)
    else
      span no vidoes
