extends ../layouts/base.pug

block scripts
  script(defer src="/static/js/ffmpeg.min.js")
  script(defer src="/js/recorder.js")

block content
  video#preview(playsinline width="400" height="400")
  button#record Record
