extends ../layouts/base.pug

block content
  h2 upload video
  if errorMessage
    span=errorMessage
  form(method="POST" enctype="multipart/form-data")
    label(for="video") Video
    input(name="video" id="video" type="file" accept="video/*" required)
    label(for="thumb") Thumbnail
    input(name="thumb" id="thumb" type="file" accept="image/jpg" required)
    input(name="title" placeholder="Title" required type="text" maxlength="80")
    input(name="description" placeholder="Description" required type="text" minlength="10")
    input(name="hashtags" placeholder="HashTags separated by comma." required type="text")
    input(type="submit" value="upload video")
