.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 20px;

  padding: 0.3em;
  gap: 0.3em;
}

$inner-padding: 0.4rem;

.video .content {
  background-color: white;
  border-radius: 0.3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr minmax(2em, auto);

  .video__content {
    grid-column: span 2;
    .video__thumbnail {
      border-top-right-radius: 0.3em;
      border-top-left-radius: 0.3em;
      background-color: hsl(100, 0%, 10%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      padding-top: 133%;
      grid-column: span 2;
      &.video__landscape {
        .video__thumbnail {
          padding-top: 56%;
        }
      }
    }
    h4 {
      padding: $inner-padding;
      word-wrap: break-word;
    }
  }

  .video__views {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: $inner-padding;
    gap: 0.2em;
    font-size: 0.7em;
  }
}

.video__owner {
  width: fit-content;
  display: grid;
  /* align-items: center; */
  grid-template-columns: 1em 1fr;
  align-items: center;
  padding: $inner-padding;
  gap: 0.2em;
  .video__owner-avatar {
    overflow: hidden;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    img {
      object-fit: cover;
      width: 1em;
      height: 1em;
    }
  }
  h5 {
    font-size: 0.7em;
    max-width: 80px;
    word-wrap: break-word;
  }
}
