.profile {
  display: grid;
  padding: 0.5em 1em;
  grid-template-areas:
    "avatar name btn"
    "uname uname uname"
    "location location location"
    "edit edit edit";
  grid-template-columns: 2.5em 1fr 2em;
  gap: 0.3em;
  background-color: white;

  .profile__avatar {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: avatar;
    &:has(i) {
      background-color: $light-purple;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    i {
      font-size: 2em;
    }
  }

  .profile__name {
    grid-area: name;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .profile__action {
    grid-area: btn;
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    i {
      font-size: 2em;
    }
  }
  .profile__username {
    grid-area: uname;
  }

  .profile__location {
    grid-area: location;
  }

  .profile__edit {
    grid-area: edit;
    color: white;
    background-color: $red;
    padding: 0.3em;
    border-radius: 99999px;
    text-align: center;
  }
}
