extends ../layouts/base.pug

block content
  div.editBox
    form(method="POST")
      label(for="confirmPassword") Current Password
      input(id="confirmPassword" name="confirmPassword"  type="password" required placeholder="confirm current password")
      label(for="password") New Password
      input(id="password" name="password" type="password" required placeholder="New password")
      label(for="passwordConfirm") New Password Again
      input(id="passwordConfirm" name="passwordConfirm" type="password" required placeholder="New password cofirm")
      button Change password
