extends ../layouts/base.pug

block body
  form(method="POST")
    input(name="confirmPassword" type="password" required placeholder="confirm current password")
    input(name="password" type="password" required placeholder="New password")
    input(name="passwordConfirm" type="password" required placeholder="New password cofirm")
    input(type="submit" value="Change password")
